
<% provide(:title, "Home") %>
<div class="center jumbotron">
    
    <h1>欢迎来到牡丹江市城市建设档案馆</h1>

    <h2> 
        注册账号，进行报建登记。
    </h2>

    <%= link_to "立即注册！", signup_path, class: "btn btn-lg btn-primary" %> 
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 
'http://rubyonrails.org/' %>

