
<div class="row"> 
    <aside class="col-md-4"> 
        <section class="user_info"> 
            <h1>
                工程名称： <%= @project.name %> <br/>
                建筑位置： <%= @project.position %> <br/>
                建设单位： <%= @project.developer %> <br/>

            </h1> 
        </section> 
    </aside> 
</div> 
