<footer class="footer"> 
    <small> 
        牡丹江市城市建设档案馆
    </small> 
    <nav> 
        <ul> 
            <li><%= link_to "关于", about_path %></li> 
            <li><%= link_to "内容", contact_path %></li> 
            <li><%= link_to "新闻", '#' %></li> 
        </ul> 
    </nav> 
</footer> 